@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #EDF1F9;
    --card-background-color: #fff;
    --progress-tracker-background-color: #fff;
    --text-color: #313E51;
}
  
/* Dark theme variables */
:root[data-theme='dark'] {
    --background-color: #313E51;
    --card-background-color: #3B4D66;
    --progress-tracker-background-color: #3B4D66;
    --text-color: #EDF1F9;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Rubik", sans-serif !important;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.category-card, .answer-card {
    background-color: var(--card-background-color);
    color: var(--text-color);
    /* border: 2px solid var(--card-background-color) */
}

.progress_tracker {
    background-color: var(--progress-tracker-background-color);
    color: var(--text-color);
}

@layer base {}

